@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.6;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
